@tailwind base;
@tailwind components;
@tailwind utilities;

.header--container{
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
}

.header{
    display: flex;
    justify-content: space-between;
    /* align-items: center ; */
    width: 1280px;
    padding: 1rem 2rem;
}

.header__nav{
    display: flex;
    align-items: center;
    gap: 50px;
}